/* line 1, ../../sass/partials/home.scss */
header {
  background: #000000;
  font-family: "HelveticaNeue-Bold";
  color: #FFFFFF;
}
/* line 5, ../../sass/partials/home.scss */
header .container {
  position: relative;
}
/* line 7, ../../sass/partials/home.scss */
header .container > div {
  display: inline-block;
  font-size: 24px;
}
/* line 11, ../../sass/partials/home.scss */
header .container .logo {
  font-size: 24px;
}
/* line 15, ../../sass/partials/home.scss */
header .container .nav ul {
  display: inline;
}
/* line 17, ../../sass/partials/home.scss */
header .container .nav ul .active {
  border-bottom: 1px #FFFFFF solid;
}
/* line 20, ../../sass/partials/home.scss */
header .container .nav ul > div {
  display: inline-block;
  padding: 24px 0;
}
/* line 23, ../../sass/partials/home.scss */
header .container .nav ul > div > li {
  display: inline;
  font-size: 16px;
}
/* line 30, ../../sass/partials/home.scss */
header .container .admin {
  font-size: 16px;
  position: absolute;
  right: 0;
}

/* line 37, ../../sass/partials/home.scss */
main {
  background: #F2F2F2;
}
/* line 40, ../../sass/partials/home.scss */
main .container #home {
  padding: 20px 0;
}
/* line 42, ../../sass/partials/home.scss */
main .container #home > div {
  margin-bottom: 20px;
}
/* line 46, ../../sass/partials/home.scss */
main .container #home .overview-date-range div {
  display: inline;
}
/* line 49, ../../sass/partials/home.scss */
main .container #home .overview-date-range .date-range {
  float: right;
  font-family: "HelveticaNeue-Medium";
  font-size: 16px;
  color: #9B9B9B;
}
/* line 55, ../../sass/partials/home.scss */
main .container #home .overview-date-range .date-range .range select {
  font-family: "HelveticaNeue-Medium";
  font-size: 16px;
  color: #9B9B9B;
  border: none;
}
/* line 64, ../../sass/partials/home.scss */
main .container #home .number-summary {
  text-align: center;
}
/* line 66, ../../sass/partials/home.scss */
main .container #home .number-summary .row {
  width: 100%;
  margin: 0;
}
/* line 70, ../../sass/partials/home.scss */
main .container #home .number-summary .row .total-revenue, main .container #home .number-summary .row .total-cost, main .container #home .number-summary .row .net-income {
  background: #FFFFFF;
  box-shadow: 0 0 10px 5px #EBEBEB;
  border-radius: 3px;
  padding: 30px 0;
  font-family: "HelveticaNeue-Bold";
}
/* line 76, ../../sass/partials/home.scss */
main .container #home .number-summary .row .total-revenue .number, main .container #home .number-summary .row .total-cost .number, main .container #home .number-summary .row .net-income .number {
  font-size: 36px;
  margin-top: 8px;
}
/* line 80, ../../sass/partials/home.scss */
main .container #home .number-summary .row .total-revenue .title, main .container #home .number-summary .row .total-cost .title, main .container #home .number-summary .row .net-income .title {
  margin-bottom: 8px;
}
/* line 86, ../../sass/partials/home.scss */
main .container #home .number-summary .row .total-revenue .number {
  color: #7ED321;
}
/* line 92, ../../sass/partials/home.scss */
main .container #home .number-summary .row .total-cost .number {
  color: #D0021B;
  font-size: 36px;
}
/* line 98, ../../sass/partials/home.scss */
main .container #home .number-summary .row .net-income .number {
  color: #4A90E2;
  font-size: 36px;
}
/* line 106, ../../sass/partials/home.scss */
main .container #home .transaction-latest .transaction, main .container #home .transaction-latest .latest {
  background: #FFFFFF;
  box-shadow: 0 0 10px 5px #EBEBEB;
  border-radius: 3px;
  padding: 30px;
}
/* line 111, ../../sass/partials/home.scss */
main .container #home .transaction-latest .transaction .title, main .container #home .transaction-latest .latest .title {
  font-family: "HelveticaNeue-Bold";
  font-size: 24px;
  color: #000000;
  margin-bottom: 30px;
}
/* line 119, ../../sass/partials/home.scss */
main .container #home .transaction-latest .transaction .facebook, main .container #home .transaction-latest .transaction .google, main .container #home .transaction-latest .transaction .shopify, main .container #home .transaction-latest .transaction .wordpress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;
}
/* line 125, ../../sass/partials/home.scss */
main .container #home .transaction-latest .transaction .facebook .website-link span:nth-child(1), main .container #home .transaction-latest .transaction .google .website-link span:nth-child(1), main .container #home .transaction-latest .transaction .shopify .website-link span:nth-child(1), main .container #home .transaction-latest .transaction .wordpress .website-link span:nth-child(1) {
  font-size: 45px;
  vertical-align: middle;
  margin-right: 20px;
}
/* line 130, ../../sass/partials/home.scss */
main .container #home .transaction-latest .transaction .facebook .website-link span:nth-child(2), main .container #home .transaction-latest .transaction .google .website-link span:nth-child(2), main .container #home .transaction-latest .transaction .shopify .website-link span:nth-child(2), main .container #home .transaction-latest .transaction .wordpress .website-link span:nth-child(2) {
  font-size: 16px;
  color: #9B9B9B;
}
/* line 136, ../../sass/partials/home.scss */
main .container #home .transaction-latest .transaction .facebook .number-percentage > span:nth-child(1), main .container #home .transaction-latest .transaction .google .number-percentage > span:nth-child(1), main .container #home .transaction-latest .transaction .shopify .number-percentage > span:nth-child(1), main .container #home .transaction-latest .transaction .wordpress .number-percentage > span:nth-child(1) {
  margin-right: 20px;
}
/* line 139, ../../sass/partials/home.scss */
main .container #home .transaction-latest .transaction .facebook .number-percentage .increase, main .container #home .transaction-latest .transaction .google .number-percentage .increase, main .container #home .transaction-latest .transaction .shopify .number-percentage .increase, main .container #home .transaction-latest .transaction .wordpress .number-percentage .increase {
  color: #7ED321;
}
/* line 142, ../../sass/partials/home.scss */
main .container #home .transaction-latest .transaction .facebook .number-percentage .decrease, main .container #home .transaction-latest .transaction .google .number-percentage .decrease, main .container #home .transaction-latest .transaction .shopify .number-percentage .decrease, main .container #home .transaction-latest .transaction .wordpress .number-percentage .decrease {
  color: #D0021B;
}
/* line 149, ../../sass/partials/home.scss */
main .container #home .transaction-latest .latest .product-shortcut {
  overflow: auto;
}
/* line 151, ../../sass/partials/home.scss */
main .container #home .transaction-latest .latest .product-shortcut .product-img {
  float: left;
  margin: 0 21px 0 0;
}
/* line 154, ../../sass/partials/home.scss */
main .container #home .transaction-latest .latest .product-shortcut .product-img img {
  height: 100px;
}
/* line 158, ../../sass/partials/home.scss */
main .container #home .transaction-latest .latest .product-shortcut .product-name {
  margin: 8px 0;
  font-family: "HelveticaNeue-Bold";
  font-size: 20px;
}
/* line 163, ../../sass/partials/home.scss */
main .container #home .transaction-latest .latest .product-shortcut .order-details {
  display: flex;
}
/* line 165, ../../sass/partials/home.scss */
main .container #home .transaction-latest .latest .product-shortcut .order-details .time-customer {
  margin: 0 88px 0 0;
}
/* line 167, ../../sass/partials/home.scss */
main .container #home .transaction-latest .latest .product-shortcut .order-details .time-customer .order-created-at {
  margin: 8px 0;
}
/* line 172, ../../sass/partials/home.scss */
main .container #home .transaction-latest .latest .product-shortcut .order-details .total-cost > div:nth-child(1) {
  margin: 8px 0;
  float: right;
}
/* line 182, ../../sass/partials/home.scss */
main .container #orders {
  display: none;
  padding: 20px 0;
}
/* line 186, ../../sass/partials/home.scss */
main .container #orders #table .table-header {
  line-height: 40px;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 16px;
}
/* line 191, ../../sass/partials/home.scss */
main .container #orders #table .table-header > div {
  display: inline-block;
}
/* line 196, ../../sass/partials/home.scss */
main .container #orders #table .table-content > div {
  display: inline-block;
  vertical-align: top;
  margin-top: 17px;
}
/* line 201, ../../sass/partials/home.scss */
main .container #orders #table .table-content:nth-child(even) {
  background-color: inherit;
}
/* line 204, ../../sass/partials/home.scss */
main .container #orders #table .table-content:nth-child(odd) {
  background-color: #EBEBEB;
}
/* line 208, ../../sass/partials/home.scss */
main .container #orders #table .checkbox {
  background-color: #FFFFFF;
  height: 15px;
  width: 15px;
  margin: 0 8px 0 16px;
}
/* line 214, ../../sass/partials/home.scss */
main .container #orders #table .customer {
  width: 15%;
}
/* line 217, ../../sass/partials/home.scss */
main .container #orders #table .product-list {
  width: 17%;
}
/* line 220, ../../sass/partials/home.scss */
main .container #orders #table .product-list .item .quantity {
  float: right;
}
/* line 225, ../../sass/partials/home.scss */
main .container #orders #table .total {
  width: 8%;
}
/* line 228, ../../sass/partials/home.scss */
main .container #orders #table .add-to-cart {
  width: 13%;
}
/* line 231, ../../sass/partials/home.scss */
main .container #orders #table .check-out {
  width: 13%;
}
/* line 234, ../../sass/partials/home.scss */
main .container #orders #table .address {
  width: 15%;
}
/* line 237, ../../sass/partials/home.scss */
main .container #orders #table .status {
  width: 12%;
}
